<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::body},~{::title})}">
<head>
<meta charset="UTF-8">
<title>Electro Land</title>
</head>
<body>
    <div class="top-phone-nav container">
        <div class="card">
            <div class="card-body">
                <span class="card-title">LAPTOP BÁN CHẠY</span>
                <button>Mac</button>
                <button>HP</button>
                <button>Dell</button>
                <button>Asus</button>
                <button>Acer</button>
                <button>Xem tất cả</button>
            </div>
        </div>
    </div>

    <div class="top-phone container">
        <div class="row">
            <div class="product-item">
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-item">
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="badge">
                        <img src="ICON/badge.png">
                        <span>Giảm 20%</span>
                    </div>
                    <div class="card-body">
                        <img src="IMG/macbook_pro_14.webp">
                        <p class="product-name" name="name">
                            iPhone 16 8GB 256GB | Chính hãng VN/A
                        </p>
                        <div class="product-price">
                            <span class="current-price">22.490.000đ</span><span class="listed-price">22.990.000đ</span>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <button class="detail">Chi tiết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/b6b15d6477.js" crossorigin="anonymous"></script>
    <script src="JS/index.js"></script>
</body>
</html>