<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<body>
	<div class="product-category" th:fragment="listCategory(title,list)">
		<div class="card">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<div class="row">
					<div class="product-category-item" th:each="item,i : ${list}" th:if="${i.index <= 21 and i.index >=1}">
						<a href="#"> <img th:src="@{'IMG/'+ ${item.hinh}}">
							<p th:text="${item.tenLoaiSP}"></p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>