<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<body>
	<div class="top-phone container">
		<div class="row">
			<div class="product-item">
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="product-item">
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="badge">
						<img src="ICON/badge.png"> <span>Giảm 20%</span>
					</div>
					<div class="card-body">
						<img src="IMG/iphone-16-1.webp">
						<p class="product-name" name="name">iPhone 16 8GB 256GB |
							Chính hãng VN/A</p>
						<div class="product-price">
							<span class="current-price">22.490.000đ</span><span
								class="listed-price">22.990.000đ</span>
						</div>
						<div class="star">
							<i class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i> <i
								class="fa-solid fa-star checked"></i>
							<button class="detail">Chi tiết</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>