<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<body>
	<div class="flashsale-container">
		<div class="flashsale-title">
			<h3>
				<img src="ICON/thundericon.png" alt="icon"> GIỜ VÀNG DEAL SỐC
			</h3>
			<div class="timer">
				<p class="timer-title">
					<b>Nhanh lên nào!</b><br> sự kiện sắp kết thúc
				</p>
				<div class="time-box">
					<span id="hours">00</span>
					<p>Giờ</p>
				</div>
				<div class="time-box">
					<span id="minutes">00</span>
					<p>Phút</p>
				</div>
				<div class="time-box">
					<span id="seconds">00</span>
					<p>Giây</p>
				</div>
			</div>
		</div>

		<div class="flashsale-body">
			<img src="IMG/backgroundflashsale.png" class="backgroundflashsale">
			<div class="products">
				<div class="product-item">
					<div class="card">
						<div class="badge">
							<img src="ICON/badge.png"> <span>Giảm 20%</span>
						</div>
						<div class="card-body">
							<img src="IMG/iphone-16-1.webp">
							<p class="product-name" name="name">iPhone 16 8GB 256GB |
								Chính hãng VN/A</p>
							<div class="product-price">
								<span class="current-price">22.490.000đ</span><span
									class="listed-price">22.990.000đ</span>
							</div>
							<div class="star">
								<i class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i>
								<button class="detail">Chi tiết</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="badge">
							<img src="ICON/badge.png"> <span>Giảm 20%</span>
						</div>
						<div class="card-body">
							<img src="IMG/iphone-16-1.webp">
							<p class="product-name" name="name">iPhone 16 8GB 256GB |
								Chính hãng VN/A</p>
							<div class="product-price">
								<span class="current-price">22.490.000đ</span><span
									class="listed-price">22.990.000đ</span>
							</div>
							<div class="star">
								<i class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i>
								<button class="detail">Chi tiết</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="badge">
							<img src="ICON/badge.png"> <span>Giảm 20%</span>
						</div>
						<div class="card-body">
							<img src="IMG/iphone-16-1.webp">
							<p class="product-name" name="name">iPhone 16 8GB 256GB |
								Chính hãng VN/A</p>
							<div class="product-price">
								<span class="current-price">22.490.000đ</span><span
									class="listed-price">22.990.000đ</span>
							</div>
							<div class="star">
								<i class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i>
								<button class="detail">Chi tiết</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="badge">
							<img src="ICON/badge.png"> <span>Giảm 20%</span>
						</div>
						<div class="card-body">
							<img src="IMG/iphone-16-1.webp">
							<p class="product-name" name="name">iPhone 16 8GB 256GB |
								Chính hãng VN/A</p>
							<div class="product-price">
								<span class="current-price">22.490.000đ</span><span
									class="listed-price">22.990.000đ</span>
							</div>
							<div class="star">
								<i class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i>
								<button class="detail">Chi tiết</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="badge">
							<img src="ICON/badge.png"> <span>Giảm 20%</span>
						</div>
						<div class="card-body">
							<img src="IMG/iphone-16-1.webp">
							<p class="product-name" name="name">iPhone 16 8GB 256GB |
								Chính hãng VN/A</p>
							<div class="product-price">
								<span class="current-price">22.490.000đ</span><span
									class="listed-price">22.990.000đ</span>
							</div>
							<div class="star">
								<i class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i>
								<button class="detail">Chi tiết</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="badge">
							<img src="ICON/badge.png"> <span>Giảm 20%</span>
						</div>
						<div class="card-body">
							<img src="IMG/iphone-16-1.webp">
							<p class="product-name" name="name">iPhone 16 8GB 256GB |
								Chính hãng VN/A</p>
							<div class="product-price">
								<span class="current-price">22.490.000đ</span><span
									class="listed-price">22.990.000đ</span>
							</div>
							<div class="star">
								<i class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i> <i
									class="fa-solid fa-star checked"></i>
								<button class="detail">Chi tiết</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>