<div class="advertisement" th:fragment="advertisement">
    <div class="advertisement-item">
        <div class="card card-orange">
            <img src="IMG/bannerQC2.webp">
            <h4>GIẢM GIÁ NHẬP HỌC 30%</h4>
            <p>Tai nghe, Phụ kiện</p>
        </div>
    </div>

    <div class="advertisement-item">

        <div class="card card-blue">
            <img src="IMG/bannerQC3.webp">
            <h4>ƯU ĐÃI MÙA HÈ ĐẾN 60%</h4>
            <p>Laptop, Màn hình máy tính</p>
        </div>
    </div>

    <div class="advertisement-item">

        <div class="card card-green">
            <img src="IMG/bannerQC4.webp">
            <h4>GIẢM 500k cho đơn 2tr</h4>
            <p>Laptop Gaming</p>
        </div>
    </div>
</div>