<div class="card product-template" th:fragment="card_product_template(product)" th:object="${product}" th:data-id="*{id}">
    <div class="badge">
        <div class="discount-label" th:text="${'Giảm ' + ((product.giaBan - product.giaGiam) / product.giaBan )* 100} + '%'">Giảm 20%</div>
    </div>
    <div class="card-body">
        <img th:src="@{'/IMG/' + *{hinhDaiDien}}">
        <p class="product-name" name="name" th:text="*{tenSP}">iPhone 16 8GB 256GB |
            Chính hãng VN/A</p>
        <div class="product-price">
            <span class="current-price"
                th:text="*{#numbers.formatDecimal(giaGiam, 0, 'POINT', 0, 'COMMA') + 'đ'}">22.490.000đ </span><br>
            <span class="listed-price"
                th:text="*{#numbers.formatDecimal(giaBan, 0, 'POINT', 0, 'COMMA') + 'đ'}">22.990.000đ</span>
        </div>
        <div class="star">
            <i class="fa-solid fa-star checked"></i> <i class="fa-solid fa-star checked"></i> <i
                class="fa-solid fa-star checked"></i> <i class="fa-solid fa-star checked"></i> <i
                class="fa-solid fa-star checked"></i>
            <a th:href="@{'/detail?id=' + *{id}}" class="detail">Chi tiết</a>
        </div>
    </div>
</div>