<div class="flashsale-container full-screen-div d-xl-block d-none" th:fragment="flashsale" th:object="${SPTEST}">
	<div class="flashsale-title">
		<h3>
			<img src="ICON/thundericon.png" alt="icon"> GIỜ VÀNG DEAL SỐC
		</h3>
		<div class="timer">
			<p class="timer-title">
				<b>Nhanh lên nào!</b><br> sự kiện sắp kết thúc
			</p>
			<div class="time-box">
				<span id="hours">00</span>
				<p>Giờ</p>
			</div>
			<div class="time-box">
				<span id="minutes">00</span>
				<p>Phút</p>
			</div>
			<div class="time-box">
				<span id="seconds">00</span>
				<p>Giây</p>
			</div>
		</div>
	</div>

	<div class="flashsale-body">
		<img src="IMG/backgroundflashsale.png" class="backgroundflashsale">

		<div class="products">
			<div class="row g-3 ">
				<div class="col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 " th:each="item : ${List6}">
					<div th:replace="~{/fragments/_card_product_template :: card_product_template(product=${item})}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>