<div class="flashsale-container full-screen-div d-xl-block d-none" th:fragment="flashsale" th:object="${SPTEST}">
	<div class="flashsale-title">
		<h3 th:text="#{flashsale.title}">
			<img th:src ="@{/ICON/thundericon.png}" alt="icon" > GIỜ VÀNG DEAL SỐC
		</h3>
		<div class="timer">
			<p class="timer-title">
				<b th:text="#{flashsale.timerTitle}">Nhanh lên nào!</b><br> <span th:text="#{flashsale.timerSubtitle}">sự kiện sắp kết thúc</span>
			</p>
			<div class="time-box">
				<span id="hours">00</span>
				<p th:text="#{hour}">Giờ</p>
			</div>
			<div class="time-box">
				<span id="minutes">00</span>
				<p th:text="#{minute}">Phút</p>
			</div>
			<div class="time-box">
				<span id="seconds">00</span>
				<p th:text="#{second}">Giây</p>
			</div>
		</div>
	</div>

	<div class="flashsale-body">
		<img th:src ="@{/IMG/backgroundflashsale.png}" class="backgroundflashsale">

		<div class="products">
			<div class="row g-3 ">
				<div class="col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 " th:each="item : ${List6}">
					<div th:replace="~{/fragments/_card_product_template :: card_product_template(product=${item})}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>