<footer>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4  contact-info ">
            <div class="footer-logo">
                <img src="IMG/logotrang.png" alt="Tech Zone Logo">
            </div>
            <div class="footer-contact">
                <p><img src="ICON/locationicon.png" class="icon-contact"> Địa chỉ: <br>Số 3, Tân Hưng Thuận, Quận 12, Hồ Chí Minh</p>
                <div class="bottom-contact">
                    <p><img src="ICON/callicon.png" class="icon-contact"> Hotline: <br>0778877888</p>
                    <p><img src="ICON/sms-edit.png" class="icon-contact"> Email: <br>electroland.service@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-2 support-customer">
            <h4>Hỗ trợ khách hàng</h4>
            <p><a>Kiểm tra đơn hàng</a></p>
            <p><a>Câu hỏi thường gặp</a></p>
            <p><a>Liên hệ</a></p>
        </div>
        <div class="col-2 support-customer">
            <h4>Chính sách</h4>
            <p><a>Chính sách đổi trả</a></p>
            <p><a>Chính sách bảo mật</a></p>
            <p><a>Điều khoản dịch vụ</a></p>
            <p><a>Chính sách giao hàng</a></p>
        </div>
        <div class="col-2 support-customer">
            <h4>Hỗ trợ khách hàng</h4>
            <img src="ICON/payment.png">
        </div>
    </div>
</footer>