<header class="navbar navbar-expand-lg px-3" th:fragment="header">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" th:href="@{/index}">
            <img th:src="@{/IMG/logotrang.png}" height="150" alt="Logo">
        </a>

        <!-- Search Box -->
        <div class="search-box me-auto">
            <form action="/sanpham" class="d-flex position-relative">
                <input class="form-control me-2" id="search" name="search" type="search" placeholder="#"
                    th:placeholder="#{search.placeholder}" aria-label="Search">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <!-- Navigation Links -->
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item mx-2">
                <a class="nav-link text-white d-flex align-items-center" href="">
                    <i class="fa-solid fa-phone-volume fa-2x me-2"></i>
                    <span>
                    <span th:text="#{hotline}"></span>
                    <br>  
                    <span>0773699825</span>
                </span>
                </a>
            </li>
            <li th:if="${user != null and user.hoTen != ''}">
                <a class="nav-link text-white d-flex align-items-center" href="/infor">
                    <button class="btn btn-light me-2">
                        <i class="fa-regular fa-user fa-2" style="color: black;"></i>
                    </button>
                    <span th:text="${user.hoTen}">
                    </span>
                </a>
            </li>
            <li th:if="${user == null}">
                <a class="nav-link text-white d-flex align-items-center" th:href="@{/dangky}">
                    <button class="btn btn-light me-2">
                        <i class="fa-regular fa-user fa-2" style="color: black;"></i>
                    </button>
                    <span th:text="#{login}">Đăng nhập</span>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link text-white d-flex align-items-center" th:href="@{/giohang}">
                    <button class="btn btn-light me-2">
                        <i class="fa-solid fa-cart-shopping fa-2" style="color: black;"></i>
                    </button>
                    <span th:text="#{cart}">Giỏ hàng</span>
                </a>
            </li>
            <!-- Language Dropdown -->
            <li class="nav-item mx-2">
                <div class="dropdown">
                    <a class="nav-link text-white d-flex align-items-center" href="#" id="languageDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <button class="btn btn-light me-2">
                            <i class="fa-solid fa-globe fa-2" style="color: black;"></i>
                        </button>
                        <span th:text="#{language.label}">Ngôn ngữ</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" th:href="@{/index?lang=en}" style="color: black;">English</a></li>
                        <li><a class="dropdown-item" th:href="@{/index?lang=vi}" style="color: black;">Tiếng Việt</a></li>
                        <li><a class="dropdown-item" th:href="@{/index?lang=zh}" style="color: black;">中文</a></li>
                        <li><a class="dropdown-item" th:href="@{/index?lang=ja}" style="color: black;">日本語</a></li>
                    </ul>
                    
                </div>
           


        </ul>

        <div class="d-lg-none">
            <a for="chk1" id="menu" class="text-white">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <input type="checkbox" id="chk1" style="display:none;">
    </div>
</header>