<menu class="menu-bar" th:fragment="menu">
	<ul class="menu-list">
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/phoneicon.png}"> Điện thoại, Tablet <span>&gt;</span>
			</a>
			<ul class="submenu">
				<div class="submenu-box">
					<div class="submenu-row">
						<h4>Hãng điện thoại</h4>
						<li><a href="#">iPhone</a></li>
						<li><a href="#">Samsung</a></li>
						<li><a href="#">Xiaomi</a></li>
						<li><a href="#">OPPO</a></li>
						<li><a href="#">realme</a></li>
						<li><a href="#">TECNO</a></li>
					</div>
					<div class="submenu-row">
						<h4>Mức giá điện thoại</h4>
						<li><a href="#">Dưới 5 triệu</a></li>
						<li><a href="#">Từ 5 đến 10 triệu</a></li>
						<li><a href="#">Trên 10 triệu</a></li>
					</div>
					<div class="submenu-row">
						<h4>Hãng máy tính bảng</h4>
						<li><a href="#">iPad</a></li>
						<li><a href="#">Samsung Galaxy Tab</a></li>
						<li><a href="#">Lenovo</a></li>
					</div>
				</div>
			</ul>
		</li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/laptopicon.png}"> Laptop <span>&gt;</span>
			</a>
			<ul class="submenu">
				<div class="submenu-box">
					<div class="submenu-row">
						<h4>Thương hiệu</h4>
						<li><a href="#">Mac</a></li>
						<li><a href="#">ASUS</a></li>
						<li><a href="#">Lenovo</a></li>
						<li><a href="#">Dell</a></li>
						<li><a href="#">HP</a></li>
						<li><a href="#">Acer</a></li>
					</div>
					<div class="submenu-row">
						<h4>Phân khúc</h4>
						<li><a href="#">Dưới 10 triệu</a></li>
						<li><a href="#">Từ 10 đến 20 triệu</a></li>
						<li><a href="#">Trên 20 triệu</a></li>
					</div>
					<div class="submenu-row">
						<h4>Dòng chip</h4>
						<li><a href="#">Laptop Core i3</a></li>
						<li><a href="#">Laptop Core i5</a></li>
						<li><a href="#">Laptop Core i7</a></li>
						<li><a href="#">Laptop Core i9</a></li>
						<li><a href="#">AMD Ryzen</a></li>
					</div>
					<div class="submenu-row">
						<h4>Kích thước màn hình</h4>
						<li><a href="#">Laptop 12 inch</a></li>
						<li><a href="#">Laptop 13 inch</a></li>
						<li><a href="#">Laptop 14 inch</a></li>
						<li><a href="#">Laptop 15.6 inch</a></li>
						<li><a href="#">Laptop 16 inch</a></li>
					</div>
				</div>
			</ul>
		</li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/earbudsicon.png}"> Âm thanh <span>&gt;</span>
			</a></li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/watchicon.png}"> Đồng hồ <span>&gt;</span>
			</a></li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/keyboardicon.png}"> Phụ kiện <span>&gt;</span>
			</a></li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/pcicon.png}"> PC, Màn hình <span>&gt;</span>
			</a></li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/screenicon.png}"> Tivi <span>&gt;</span>
			</a></li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/newicon.png}"> Tin tức <span>&gt;</span>
			</a></li>
		<li class="menu-item"><a href="#"> <img th:src ="@{/ICON/coupointicon.png}"> Khuyến mãi <span>&gt;</span>
			</a></li>
	</ul>
</menu>