<div class=" slider" th:fragment="slider">
	<div class="slider-content">
		<div class="slider-content-left">
			<div class="slider-content-left-top-container">
				<div class="slider-content-left-top">
					<a href=""><img th:src ="@{/IMG/iphoneslider.png}" alt="img1"></a> <a href=""><img
							th:src ="@{/IMG/samsungslider.png}" alt="img2"></a> <a href=""><img th:src ="@{/IMG/huaweislider.png}"
							alt="img3"></a> <a href=""><img th:src ="@{/IMG/nokiaslider.png}" alt="img4"></a> <a href=""><img
							th:src ="@{/IMG/vivoslider.png}" alt="img5"></a>
				</div>
				<div class="slider-content-left-top-btn">
					<i class="fa-solid fa-arrow-left"></i> <i class="fa-solid fa-arrow-right"></i>
				</div>
			</div>
			<div class="slider-content-left-bottom">
				<li class="active" th:text="#{slider.item1}">iPhone 16</li>
					<li th:text="#{slider.item2}">S24 Ultra</li>
					<li th:text="#{slider.item3}">Huawei Watch</li>
					<li th:text="#{slider.item4}">Ưu đãi lên đời</li>
					<li th:text="#{slider.item5}">Vivo Y19s</li>
			</div>
		</div>
		<div class="slider-content-right">
			<li><a href=""><img th:src ="@{/IMG/iphoneBanner.png}"></a></li>
			<li><a href=""><img th:src ="@{/IMG/samsungBanner.png}"></a></li>
			<li>
				<div class="register">
					<a href="login.html" class="register-link">
						<button th:text="#{slider.registerButton}">Đăng ký ngay</button>
					</a>
					<p th:text="#{slider.registerDescription}">Để nhận vô vàn ưu đãi</p>
				</div>
			</li>
		</div>
	</div>
</div>