body {
    background-color: #F0F3F7;  
}
/* Style for input and dropdown icon */
.input-group {
    width: 500px;
    position: relative;
}

/* Style for the dropdown filter container */
#dropdownFilters {
    position: absolute; /* Cố định vị trí tương đối với cha */
    top: 100%; /* Đặt ngay bên dưới input */
    left: 0;
    z-index: 1050; /* Đảm bảo nằm trên các phần tử khác */
    width: 100%; /* Cùng chiều rộng với input-group */
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    display: none; /* Ban đầu ẩn */
}

#dropdownFilters.show {
    display: block; /* Hiển thị khi mở */
}

#filterContainer {
    gap: 8px; /* Tạo khoảng cách đều giữa các nút và input */
}

.btn-custom {
    margin-right: 5px; /* Giảm khoảng cách giữa các nút */
}
.dropdown {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    display: block; /* Đảm bảo rằng các dropdown là block */
    margin-bottom: 10px; /* Tạo khoảng cách giữa các dropdown */
}

.dropdown label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.dropdown select {
    width: 100%; /* Đảm bảo dropdown chiếm toàn bộ chiều rộng cha */
}
select {
    width: 100%;
    border: none;
    background: none;
    font-size: 14px;
    color: #555;
    outline: none;
}
.thead-list{
    text-align: center;
}
.tbody-list{
    text-align: center;
}
.btn-hd{
    background-color: #00B074;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    padding: 5px;
}
.btn-nhd{
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    padding: 5px;
}