.filter .filter-menu-header i{
  font-size: 20px;
}

.filter .wrapper {
  position: relative;
  width: 80%;
  background-color: #ffffff;
  padding: 50px 40px 20px 40px;
  border-radius: 10px;
}
.filter .container {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
.filter input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  left: 10%;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.filter .slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  left: 10%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.filter input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
.filter input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
.filter input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
.filter input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #3264fe;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
.filter input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
  border: none;
}
.filter input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
.filter input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 1px solid #3264fe;
}
.filter .values {
  background-color: #3264fe;
  width: 32%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
.filter .values:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #3264fe;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
}

.filter .pagination {
  justify-content: center;
}

.filter .btn-custom-1 {
  background-color: #001429;
  color: white;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center; 
  text-align: center;    
  padding: 0 10px;
  font-weight: 500;
}
