<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/fragments/Layout_inforPage::dynamic(~{::body},~{::title})}">

<head>
    <meta charset="UTF-8">
    <title>Electroland</title>
</head>

<body>
    <div class="card p-4">
        <div class="tab-container">
            <div class="tabs">
                <button class="tab active" onclick="showTab('completed')">Hoàn thành</button>
                <button class="tab" onclick="showTab('processing')">Đang xử lý</button>
                <button class="tab" onclick="showTab('cancelled')">Đã hủy</button>
            </div>
        </div>
        <div class="search-box1 mt-5">
            <input type="text" placeholder="Tìm đơn hàng theo mã đơn hàng..." />
            <button class="search-btn">Tìm kiếm</button>
        </div>

        <div class="tab-content" id="completed">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày</th>
                        <th>Trạng thái</th>
                        <th>Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order, stat : ${completedOrders}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="'#' + ${order[0]}"></td> <!-- order[0]: donHangId -->
                        <td th:text="${#dates.format(order[1], 'dd-MM-yyyy')}"></td> <!-- order[1]: ngayDatHang -->
                        <td>Hoàn thành</td>
                        <td th:text="${#numbers.formatDecimal(order[3], 0, 'POINT', 0, 'COMMA') + 'đ'}"></td> <!-- order[3]: tongGiaTri -->
                        <td>
                            <a th:href="@{/order_detail(id=${order[0]})}" class="details-link">Chi tiết</a>
                        </td>
                        
                    </tr>
                    <!-- <tr>
                        <td>#3456_768</td>
                        <td>October 17, 2023</td>
                        <td>Hoàn thành</td>
                        <td>5.350.000 đ</td>
                        <td><a href="/order_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#3456_768</td>
                        <td>October 17, 2023</td>
                        <td>Hoàn thành</td>
                        <td>5.350.000 đ</td>
                        <td><a href="/order_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#3456_768</td>
                        <td>October 17, 2023</td>
                        <td>Hoàn thành</td>
                        <td>5.350.000 đ</td>
                        <td><a href="/order_detail" class="details-link">Chi tiết</a></td>
                    </tr> -->
                </tbody>
            </table>
        </div>

        <div class="tab-content" id="processing" style="display: none;">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày</th>
                        <th>Trạng thái</th>
                        <th>Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order, stat : ${processingOrders}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="'#' + ${order[0]}"></td> <!-- order[0]: donHangId -->
                        <td th:text="${#dates.format(order[1], 'dd-MM-yyyy')}"></td> <!-- order[1]: ngayDatHang -->
                        <td>Đang xử lý</td>
                        <td th:text="${#numbers.formatDecimal(order[3], 0, 'POINT', 0, 'COMMA') + 'đ'}"></td> <!-- order[3]: tongGiaTri -->
                        <td>
                            <a th:href="@{/order_detail(id=${order[0]})}" class="details-link">Chi tiết</a>
                        </td>
                        
                    </tr>
                    <!-- <tr>
                        <td>#1234_567</td>
                        <td>October 18, 2023</td>
                        <td>Đang xử lý</td>
                        <td>2.150.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#1234_567</td>
                        <td>October 18, 2023</td>
                        <td>Đang xử lý</td>
                        <td>2.150.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#1234_567</td>
                        <td>October 18, 2023</td>
                        <td>Đang xử lý</td>
                        <td>2.150.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="tab-content" id="cancelled" style="display: none;">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày</th>
                        <th>Trạng thái</th>
                        <th>Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order, stat : ${cancelledOrders}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="'#' + ${order[0]}"></td> <!-- order[0]: donHangId -->
                        <td th:text="${#dates.format(order[1], 'dd-MM-yyyy')}"></td> <!-- order[1]: ngayDatHang -->
                        <td>Đã hủy</td>
                        <td th:text="${#numbers.formatDecimal(order[3], 0, 'POINT', 0, 'COMMA') + 'đ'}"></td> <!-- order[3]: tongGiaTri -->
                        <td>
                            <a th:href="@{/order_detail(id=${order[0]})}" class="details-link">Chi tiết</a>
                        </td>
                        
                    </tr>                   
                    <!-- <tr>
                        <td>#7890_123</td>
                        <td>October 19, 2023</td>
                        <td>Đã hủy</td>
                        <td>1.000.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#7890_123</td>
                        <td>October 19, 2023</td>
                        <td>Đã hủy</td>
                        <td>1.000.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#7890_123</td>
                        <td>October 19, 2023</td>
                        <td>Đã hủy</td>
                        <td>1.000.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>#7890_123</td>
                        <td>October 19, 2023</td>
                        <td>Đã hủy</td>
                        <td>1.000.000 đ</td>
                        <td><a href="/oder_detail" class="details-link">Chi tiết</a></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="JS/order-history.js"></script>
</body>

</html>