<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Electro Land</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="CSS/detail.css">
  <link rel="stylesheet" href="CSS/index.css">

  <link rel="shortcut icon" type="image/png" href="IMG/logoden.png">
</head>

<body>
  <header th:replace="~{/fragments/_header :: header}"> </header>

  <div class="detail container">
    <!-- Thông tin sản phẩm -->
    <form action="/detail/addToCart" method="post">
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-6 slider">
            <div class="slider-container">
              <div class="swiper mySwiper2">
                <div class="swiper-wrapper main"> <!-- Sử dụng th:each để lặp qua danh sách pictures -->
                  <div th:each="picture : ${pictures}" class="swiper-slide">
                    <!-- Giả sử đối tượng HinhSp có thuộc tính url là đường dẫn hình ảnh --> <img
                      th:src="@{|/IMG/${picture.link}|}" alt="Image" />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="swiper mySwiper thumbnail-slider mt-2">
                <div class="swiper-wrapper"> <!-- Sử dụng th:each để lặp qua danh sách pictures -->
                  <div th:each="picture : ${pictures}" class="swiper-slide">
                    <!-- Giả sử đối tượng HinhSp có thuộc tính url là đường dẫn hình ảnh -->
                    <img th:src="@{|/IMG/${picture.link}|}" alt="Image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 product-info">
            <h2 name="name" class="mb-0" th:text="${product.tenSP}"></h2>
            <input type="text" th:field="${product.id}" name="id" hidden>
            <p name="id" class="text-muted" th:text="'Mã sản phẩm: ' + ${product.id}"></p>
            <span name="price" class="text-danger price"
              th:text="${#numbers.formatDecimal(product.giaGiam, 0, 'POINT', 0, 'COMMA') + 'đ'}"></span>
            <p class="mb-3">
              <del th:text="${#numbers.formatDecimal(product.giaBan, 0, 'POINT', 0, 'COMMA') + 'đ'}"></del>
              (<span name="discount" class="discount"
                th:text="${(product.giaBan - product.giaGiam) / product.giaBan * 100} + '%'">11%</span> giảm)
            </p>
            <div class="color-picker">
              <h5>Chọn màu sản phẩm:</h5>
              <div class="colors">
                <!-- Sử dụng th:each để lặp qua danh sách colors -->
                <label class="color-option" th:each="color : ${colors}">
                  <input type="radio" name="color" th:value="${color}" onchange="selectColor(this)" required />
                  <span class="color-circle" th:style="'background-color:' + ${color}"></span>
                </label>
              </div>
            </div>
            <div class="row ms-0 mt-3" th:each="entry : ${selectAtt}">
              <div class="col-12">
                <h5 th:text="${entry.key}"></h5>
                <div class="row">
                  <label th:each="att : ${entry.value}" th:data-name="${entry.key}" class="col-sm-2 product-capacity"
                    onclick="selectCapacity(this)">
                    <input type="radio" th:name="${entry.key}" th:value="${att.tenTT}" hidden required>
                    <span th:text="${att.tenTT}"></span>
                  </label>
                </div>
              </div>
            </div>
            <div th:if="${message}" class="alert alert-danger" role="alert"> <span th:text="${errorMessage}"></span>
            </div>
            <button type="submit" class="btn btn-custom1 col-sm-12 mt-3">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Mấy cái cuộn hiện thông tin chi tiết thông tin kỹ thuật -->
    <div class="row mb-3">
      <div class="col-sm-8">
        <div class="card descript-product">
          <h3>Thông tin sản phẩm</h3>
          <div class="card-body">
            <h2 class="product-title" th:text="${product.tenSP}">iPad Gen 10 - Màu sắc và thiết kế sang trọng</h2>
            <img th:src="@{|/IMG/${product.hinhDaiDien}|}" class="descript-img">
            <div class="extra-info" style="display: none;">
              <p class="product-description" th:text="${product.moTa}">
                iPad Gen 10 2022 là chiếc máy tính bảng mới nhất với thiết kế tối giản, chip A14 Bionic mạnh mẽ, màn
                hình
                Retina sắc nét, và nhiều tính năng đặc biệt khác. Sản phẩm này sẽ giúp bạn thực hiện mọi công việc nhanh
                chóng và hiệu quả.
              </p>
            </div>
            <button class="btn-dropdown" onclick="toggleExtraInfo()">Xem thêm <i
                class="fa-solid fa-caret-down"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card specifications">
          <h2>Thông Số Kỹ Thuật</h2>
          <table border="1"> <!-- Sử dụng th:each để lặp qua danh sách listTT -->
            <tr th:each="key : ${listTT.keySet()}">
              <td th:text="${key}">Thông số</td>
              <td th:text="${listTT.get(key).get(0).getTenTT()}">Chi tiết</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Đánh giá sản phẩm -->
    <div class="row">
      <div class="col-sm-8">
        <div class="app-rating card">
          <h3>Khách hàng nói về sản phẩm</h3>
          <div class="rating col-sm-12">
            <div class="rating-avg col-sm-4">
              <h1 id="avg-score" th:text="${#numbers.formatDecimal(avgScore, 1, 1)}">0</h1>
              <div class="star-outer average-stars">
                <div class="average-star" data-value="1">&#9733;</div>
                <div class="average-star" data-value="2">&#9733;</div>
                <div class="average-star" data-value="3">&#9733;</div>
                <div class="average-star" data-value="4">&#9733;</div>
                <div class="average-star" data-value="5">&#9733;</div>
              </div>
              <p id="total-ratings" th:text="${totalRatings}">0</p>
              <button class="btn btn-rating" data-bs-toggle="modal" data-bs-target="#ratingModal" th:attr="disabled=${isDisabled}">Đánh giá ngay</button>
            </div>
            <div class="rating-progress col-sm-8">
              <div class="rating-progress-value">
                <div class="rating-summary">
                  <div class="rating-count">
                    5<span class="ms-1 star-icon">&#9733;</span>
                    <div class="progress">
                      <div class="progress-bar" id="bar5"></div>
                    </div>
                    <span id="count5" class="me-1" th:text="${ratingCounts[5]}">0</span> đánh giá
                  </div>
                  <div class="rating-count">
                    4 <span class="ms-1 star-icon">&#9733;</span>
                    <div class="progress">
                      <div class="progress-bar" id="bar4"></div>
                    </div>
                    <span id="count4" class="me-1" th:text="${ratingCounts[4]}">0</span> đánh giá
                  </div>
                  <div class="rating-count">
                    3 <span class="ms-1 star-icon">&#9733;</span>
                    <div class="progress">
                      <div class="progress-bar" id="bar3"></div>
                    </div>
                    <span id="count3" class="me-1" th:text="${ratingCounts[3] == null ? 0 : ratingCounts[3]}">0</span>
                    đánh giá
                  </div>
                  <div class="rating-count">
                    2 <span class="ms-1 star-icon">&#9733;</span>
                    <div class="progress">
                      <div class="progress-bar" id="bar2"></div>
                    </div>
                    <span id="count2" class="me-1" th:text="${ratingCounts[2] == null ? 0 : ratingCounts[2]}">0</span>
                    đánh giá
                  </div>
                  <div class="rating-count">
                    1 <span class="ms-1 star-icon">&#9733;</span>
                    <div class="progress">
                      <div class="progress-bar" id="bar1"></div>
                    </div>
                    <span id="count1" class="me-1" th:text="${ratingCounts[1]  == null ? 0 : ratingCounts[1]}">0</span>
                    đánh giá
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="filter-rating">
              <a th:href="@{/detail(id=${product.id}, filter='all')}" class="btn btn-custom2 p-2">
                Tất cả
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='hasImage')}" class="btn btn-custom2 p-2">
                Có hình ảnh
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='hasComment')}" class="btn btn-custom2 p-2">
                Có bình luận
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='5')}" class="btn btn-custom2 p-1">
                5 <span class="star-icon">&#9733;</span>
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='4')}" class="btn btn-custom2 p-1">
                4 <span class="star-icon">&#9733;</span>
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='3')}" class="btn btn-custom2 p-1">
                3 <span class="star-icon">&#9733;</span>
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='2')}" class="btn btn-custom2 p-1">
                2 <span class="star-icon">&#9733;</span>
              </a>
              <a th:href="@{/detail(id=${product.id}, filter='1')}" class="btn btn-custom2 p-1">
                1 <span class="star-icon">&#9733;</span>
              </a>
            </div>
          </div>

          <div class="comment-list" id="commentList">
            <div th:each="review : ${reviews}" class="comment mt-2">
              <div class="user-avatar me-2 mt-2">
                <img th:src="${review.khachHang.avaImg}" alt="User Avatar">
              </div>
              <div class="user-account">
                <div class="name-account">
                  <span th:text="${review.khachHang.hoTen}">User Name</span>
                  <div class="ms-2 star-icon">
                    <span th:each="star : ${#numbers.sequence(1, review.diem)}">&#9733;</span>
                  </div>
                </div>
                <div class="comment-text">
                  <span th:text="${review.noiDung}"></span>
                </div>
                <div class="comment-img" th:if="${review.img != null}">
                  <img th:src="@{${review.img}}" style="width: 100px; margin-right: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Recommendation mt-4">
      <div class="recommendation-header">
        <h4 class="text-center">Đề xuất sản phẩm</h4>
      </div>
      <div class="recommendation-body">
        <div class="row g-3 mt-2">
          <div th:each=" pd : ${recommendedProducts}" class="col-2 position-relative">
            <div th:replace="~{fragments/_card_product_template :: card_product_template(${pd}) }"></div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal của cái promotion-->

    <div class=" modal fade" id="ratingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg"> <!-- Sử dụng modal-lg để tăng kích thước -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Đánh giá & nhận xét</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <h4>Đánh giá sản phẩm</h4>
              <div class="star-outer">
                <div class="star seleted" data-value="1">&#9733;</div>
                <div class="star seleted" data-value="2">&#9733;</div>
                <div class="star seleted" data-value="3">&#9733;</div>
                <div class="star seleted" data-value="4">&#9733;</div>
                <div class="star seleted" data-value="5">&#9733;</div>
              </div>
              <form action="/detail/danhgia" th:object="${danhGia}" method="post" enctype="multipart/form-data">
                <div class="row mb-4">
                  <div class="form-floating">
                    <textarea class="form-control comment-rating" placeholder="Đánh giá sản phẩm"
                      th:field="*{noiDung}"></textarea>
                    <label for="floatingTextarea">Bình luận sản phẩm</label>
                  </div>
                </div>
                <input type="text" th:field="*{diem}" id="point" required hidden>
                <input type="text" th:field="*{sanPham}" id="point" hidden>
                <hr>
                <div class="wrapper">
                  <header>Đăng tải hình ảnh của bạn</header>
                  <input class="file-input" type="file" name="file" hidden>
                  <i class="fas fa-cloud-upload-alt"></i>
                  <p>Nhấn vào đây để upload file</p>
                </div>
                <button type="submit" class="btn btn-primary float-end mt-3">Gửi đánh giá</button>
              </form>
              <section class="progress-area "></section>
              <section class="uploaded-area d-flex justify-content-center"></section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="~{/fragments/_footer::footer}" class="mt-4 full-screen-div"></div>
    <script src="https://kit.fontawesome.com/b6b15d6477.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>

</html>