<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Giỏ Hàng</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/GioHang.css'>
    <link rel="stylesheet" href="CSS/index.css">
</head>
<body>
    <header th:replace="~{/fragments/_header :: header}"> </header>
    <!-- cart-container -->
    <div class="cart-container">
        <div class="cart-header">
            <div class="cart-title">Giỏ hàng</div>
        </div>
        <div class="cart-details">
         <!-- Checkbox chọn tất cả -->
    <div style="font-weight: 700;">
    <!-- Checkbox "Chọn tất cả" -->
    <input type="checkbox" id="select-all" onclick="toggleSelectAll()"> Sản Phẩm
    </div>
            <div>Đơn Giá</div>
            <div>Số Lượng</div>
            <div>Số Tiền</div>
            <div>Thao Tác</div>
        </div>
    </div>
     <!--end cart-container -->
    <!-- cart-containerItem -->
      <!-- Product 1 -->
    <div class="cart-containerItem" th:each="item : ${ListSelected}">
        <!-- Duyệt qua danh sách giỏ hàng -->
        <div class="cart-item">
         <!-- Checkbox cho từng sản phẩm -->
         <input type="checkbox" class="select-item" data-idsp="${item.sanPham.id}" data-idkh="${item.khachhang.id}" onclick="checkSelected()"> 
            
            <!-- Hình ảnh sản phẩm -->
            <img th:src="@{/images/{image}(image=${item.sanPham.hinhDaiDien})}" alt="Product Image">
            
            <!-- Thông tin sản phẩm -->
            <div class="product-info">
                <p class="product-title"><span th:text="${item.sanPham.tenSP}"></span></p>
            </div>
            
            <!-- Giá sản phẩm -->
            <p class="price" th:text="${#numbers.formatDecimal(item.sanPham.giaBan, 0, 'POINT', 0, 'COMMA') + 'đ'}"></p>

            
            <!-- Số lượng sản phẩm -->
            <p class="quantity">
                <button class="quantity-btn" onclick="decreaseQuantity(this)">-</button>
                <span class="quantity-display"><span th:text="${item.soLuong}"></span></span>
                <button class="quantity-btn" onclick="increaseQuantity(this)">+</button>
            </p>
            
            <!-- Giá giảm -->
            <p class="total-price"  th:text="${#numbers.formatDecimal(item.sanPham.giaGiam, 0, 'POINT', 0, 'COMMA') + 'đ'}"></p>
            
            <!-- Xóa sản phẩm -->
            <p class="remove">
                <a href="#" onclick="removeItem(this)"><i class="fa-regular fa-trash-can"></i></a>
            </p>
        </div>
        <hr>
    </div>
    </div>
    <div class="empty-cart-message" style="display: none; text-align: center;flex-direction: column; align-items: center; padding: 10px 20px; font-size: 30px;">
        <img src="img/nocart.png" width="500px">
        <p>Giỏ hàng của bạn còn trống!!</p>
    </div>
     <!--end cart-containerItem -->
      <!--cart-summary-->
    <div class="cart-summary">
        <div class="summary-details">
            <div class="voucher-container">
                <input type="text" id="maGiamGia" placeholder="Nhập mã giảm giá">
                <!-- Button trigger modal -->
                <!-- Button trigger modal -->
        <!-- Nút để mở modal -->
<button type="button" class="voucher-link btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Chọn hoặc nhập mã
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn Voucher</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 voucher-item text-center mb-3">
                        <img src="img/logoxanh.png" alt="Voucher 1" class="img-fluid">
                        <p>Giảm 10% cho đơn hàng trên 500k</p>
                        <button type="button" class="btn btn-outline-primary select-voucher">Chọn</button>
                    </div>
                    <div class="col-md-4 voucher-item text-center mb-3">
                        <img src="img/logoxanh.png" alt="Voucher 2" class="img-fluid">
                        <p>Giảm 20% cho sản phẩm thứ hai</p>
                        <button type="button" class="btn btn-outline-primary select-voucher">Chọn</button>
                    </div>
                    <div class="col-md-4 voucher-item text-center mb-3">
                        <img src="img/logoxanh.png" alt="Voucher 3" class="img-fluid">
                        <p>Miễn phí vận chuyển cho đơn hàng trên 1 triệu</p>
                        <button type="button" class="btn btn-outline-primary select-voucher">Chọn</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 voucher-item text-center mb-3">
                        <img src="img/logoxanh.png" alt="Voucher 4" class="img-fluid">
                        <p>Giảm giá 30% cho các sản phẩm điện tử</p>
                        <button type="button" class="btn btn-outline-primary select-voucher">Chọn</button>
                    </div>
                    <div class="col-md-4 voucher-item text-center mb-3">
                        <img src="img/logoxanh.png" alt="Voucher 5" class="img-fluid">
                        <p>Giảm 50% cho sản phẩm cuối cùng trong giỏ hàng</p>
                        <button type="button" class="btn btn-outline-primary select-voucher">Chọn</button>
                    </div>
                    <div class="col-md-4 voucher-item text-center mb-3">
                        <img src="img/logoxanh.png" alt="Voucher 6" class="img-fluid">
                        <p>Giảm giá 15% cho các sản phẩm thời trang</p>
                        <button type="button" class="btn btn-outline-primary select-voucher">Chọn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            </div>   
            <div class="left-buttons">
                <a class="delete-all-btn" onclick="deleteAllSelected()">Xóa sản phẩm</a>
                <a onclick="deselectAll()" class="deselect-all-btn">Bỏ chọn tất cả</a>
            </div>
        </div>
        <hr>
        <div class="row">
           
            <div class="col-12 total-amount">
                <div class="d-flex justify-content-between totaltongcong">
                    <span>Tổng thanh toán:</span>
                </div>
                <div class="d-flex justify-content-between totalall">
                    <span>Tổng cộng</span>
                    <span class="amount" name="tongTien">0đ</span>
                </div>
                <div style="margin-top: 30px;">
                    <a class="checkout-btn" href="/thanhtoan">Mua Hàng</a>
                </div>
            </div>
        
    </div>
        
    </div>
      <!--end cart-summary-->
   

</body>
<script src="https://kit.fontawesome.com/b6b15d6477.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="js/GioHang.js"></script>
</html>