<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{layout_Index :: LayoutIndex(~{::title},~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Layout Test</title>
</head>

<body>
	<div th:insert="~{/fragments/_flashsale::flashsale}" class="mt-5"></div>
	<div th:insert="~{/fragments/_category::Category('Danh mục sản phẩm',${listCategory})}" ></div>
	<div th:insert="~{/fragments/_topSanPham::topSanPham('Điện thoại bán chạy',${nav_topPhone},${List12})}"class="mt-4"></div>
	<div th:insert="~{/fragments/_advertisement::advertisement}" class="mt-3"></div>
	<div th:insert="~{/fragments/_topSanPham::topSanPham('Laptop bán chạy',${nav_topLaptop},${List12})}"class="mt-4"></div>
	<div th:insert="~{/fragments/_topSanPham::topSanPham('Laptop bán chạy',${nav_topLaptop},${List12})}"class="mt-4"></div>	
	<div th:insert="~{_chatbox:: body}"></div>
</body>

</html>