<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng ký</title>

<link rel="stylesheet" href="CSS/login.css">
<link rel="shortcut icon" type="image/png" href="img/logo.png">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container register-container">
            <form action="/dangky" class="form-signup" th:object="${khachHang}" method="post">
                <h1 style="text-align: center; margin-top: 40px; margin-bottom: 20px;">ĐĂNG KÝ</h1>
                <div class="row mt-4">
                    <div class="col-md-6 left-side">
                        <input th:field="*{hoTen}" type="text" placeholder="Họ tên" name="hoTen" required />
                        <input th:field="*{email}" type="email" placeholder="Email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                        <input th:value="*{matKhau}" type="password" placeholder="Mật khẩu" name="matKhau" required>
                    </div>
                    <div class="col-md-6 right-side">
                        <input type="text" th:field="*{sdt}" placeholder="Số điện thoại" name="sdt" required />
                        <input type="date" th:field="*{ngaySinh}" placeholder="Ngày sinh (MM-dd-yyyy)" name="ngaySinh" required />
                        <input type="password" name="xacNhanMK" placeholder="Xác nhận mật khẩu" required />
                        <input type="radio" name="gioiTinh" value="true" checked="checked" hidden>
                        <input type="text" name="loaiKhachHang" value="1" hidden>
                        <input type="text" name="avaImg" value="avatar.jpg" hidden>
                        <input type="radio" name="trangThai" value="true" checked="checked" hidden>
                    </div>
                </div>
                <div class="content">
                    <div class="checkbox mb-2">
                        <input type="checkbox" name="checkbox" id="checkbox" style="margin-left: 10px;" required>
                        <label style="font-size: 12px;">Tôi chấp nhận mọi điều khoản và chính sách của website</label>
                    </div>
                    <span th:text="${error}" style="size: 14px; color: red; margin-left: 15px"></span>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6 left-side">
                        <button class="btn1 primary">Đăng ký</button>
                    </div>
                    <div class="col-md-6 right-side">
                        <button class="btn1 google">
                            <img src="ICON/googleicon.png" alt="Google Icon" class="google-icon"> Đăng ký với Google
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-container login-container">
            <form action="/dangnhap" th:object="${khachHangDN}" method="post" >
                <h1 style="text-align: center; margin-bottom: 20px;">ĐĂNG NHẬP</h1>
                <input th:field="*{email}" type="text" placeholder="Nhập email" name="emailDN" style="margin-right: 10px;" required>
                <input type="password" th:value="*{matKhau}" name="matKhau" placeholder="Nhập mật khẩu" style="margin-right: 10px;" required >
                <div class="content">
                    <div class="checkbox" style="margin-right: 0px;">
                        <input type="checkbox" name="ghiNhoDN" id="checkbox" style="margin-right: 10px;" checked>
                        <label style="font-size: 12px;">Ghi nhớ đăng nhập</label>
                        <a class="forgot-password" href="/quenMatKhau" style="margin-left: 10px;">Quên mật khẩu</a>
                    </div>
                    <span th:text="${errorDN}" style="size: 14px; color: red; margin-left: 15px"></span>
                </div>
                <div class="container1" style="margin-top: 20px">
                    <button class="btn1 primary" style="width: 100%;">Đăng nhập</button>
                </div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay ml-3">
                <div class="overlay-panel overlay-left">
                    <h1 class="title" id="typing-text1"></h1>
                    <p class="subtitle">Rất vui được gặp lại bạn!</p>
                    <button class="ghost" id="login">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="title" id="typing-text2"></h1>
                    <p>Nếu bạn chưa có tài khoản, hãy đăng ký để bắt đầu</p>
                    <button class="ghost" id="register">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/b6b15d6477.js" crossorigin="anonymous"></script>
    <script src="JS/login.js"></script>
</body>
</html>
