<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/fragments/Layout_Admin::dynamic(~{::body},~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sản phẩm chi tiết</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/productDetailADM.css"> <!-- Đường dẫn tới file CSS -->
</head>

<body>
    <div class="col-10">
        <div class="col-12">
            <div class="invoice-details p-3 border rounded mt-4" style="background-color: #ffffff;">
                <form th:object="${product}" action="#" enctype="multipart/form-data" >
                    <div class="text-center mb-5">
                        <h3>Chi tiết sản phẩm</h3>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <div class="col-sm-2">
                            <label for="maSanPham" class="form-label">Mã sản phẩm</label>
                        </div>
                        <div class="col-sm-10 input-form">
                            <input type="text" class="form-control mb-1" th:field="${product.id}" name="id" disabled>
                            <span th:if="${errormess}" id="maSanPhamError" th:text="errormess"
                                class="text-danger error">Vui lòng nhập mã sản phẩm.</span>
                        </div>

                    </div>

                    <div class="row mb-3 mb-4 align-items-center">
                        <div class="col-sm-2">
                            <label for="tenSanPham" class="form-label">Tên sản phẩm</label>
                        </div>
                        <div class="col-sm-10 input-form">
                            <input type="text" class="form-control mb-1" th:field="${product.tenSP}" name="tenSP"
                                placeholder="Marshall Acton 3">
                            <p th:if="${errormess}" id="tenSanPhamError" th:text="errormess" class="text-danger error">
                                Tên sản phẩm không được để trống.</p>
                        </div>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <div class=" col-sm-6">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <label for="maPhanLoai" class="form-label">Mã phân loại</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-control mb-1 " th:field="${product.loaiSanPham}"
                                        name="loaiSanPham">
                                        <option value="">Chọn loại hàng</option>
                                        <option th:each="loai : ${listLoaiSP}" th:value="${loai.id}"
                                            th:text="${loai.tenLoaiSP}"></option>
                                    </select>
                                    <p th:if="${errormess}" id="tenSanPhamError" th:text="errormess"
                                        class="text-danger error">Tên sản phẩm không được để trống.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <label for="maPhanLoai" class="form-label">Nhà cung cấp</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-control mb-1 " th:field="${product.nhaCungCap}"
                                        name="nhaCungCap">
                                        <option value="">Chọn nhà cung cấp</option>
                                        <option th:each="nha : ${listNhaCC}" th:value="${nha.id}"
                                            th:text="${nha.tenNhaCC}">
                                        </option>
                                    </select>
                                    <p th:if="${errormess}" id="tenSanPhamError" th:text="errormess"
                                        class="text-danger error">Tên sản phẩm không được để trống.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <!-- Cặp 1 -->
                        <div class="col-sm-6">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <label for="giaNiemYet" class="form-label">Giá Bán</label>
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control mb-1" id="giaNiemYet"
                                        th:field="${product.giaBan}" name="giaBan" placeholder="7,990,000 vnd">
                                    <span th:if="${errormess}" id="giaNiemYetError" th:text="errormess"
                                        class="text-danger error">Vui lòng nhập giá tiền</span>
                                </div>
                            </div>
                        </div>
                        <!-- Cặp 2 -->
                        <div class="col-sm-6">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <label for="giaNiemYet" class="form-label">Giá Giảm</label>
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control mb-1" id="giaNiemYet"
                                        th:field="${product.giaGiam}" name="giaGiam" placeholder="7,990,000 vnd">
                                    <span th:if="${errormess}" id="giaNiemYetError" th:text="errormess"
                                        class="text-danger error">Vui lòng nhập giá tiền</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <div class="col-sm-12">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <label class="form-label">Màu sắc</label>
                                </div>
                                <div class="col-10 row" id="colorContainer">
                                    <div class="col-6" th:each="mauSP : ${listMauSP}">
                                        <div class="color-select-group mb-1">
                                            <select class="form-control mb-1" name="color">
                                                <option th:each="mau : ${listMau}" th:value="${mau.id}"
                                                    th:selected="${mauSP.id == mau.id ? 'true':'false'}"
                                                    th:text="${mau.tenMau}">Xanh lá</option>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-2">
                                    <span th:if="${errormess}" id="colorSelectError" th:text="errormess"
                                        class="text-danger error">Vui lòng chọn màu sắc.</span>
                                    <button type="button" class="btn btn-secondary" onclick="addColorSelect()">Thêm
                                        màu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mb-4 align-items-center row">
                        <div class="col-sm-2">
                            <label class="form-label">Thuộc tính sản phẩm</label>
                        </div>
                        <div class="col-10" id="attributeContainer">
                            <div class="input-form" th:each="key : ${listTT}">
                                <div class="row" th:each="att : ${key.value}" id="tem">
                                    <div class="attribute-group mb-1 col-6">
                                        <input type="text" class="form-control mb-1" th:value="${key.key}" name="tenTT"
                                            placeholder="Tên thuộc tính">
                                    </div>
                                    <div class="attribute-group mb-1 col-6">
                                        <input type="text" class="form-control mb-1" th:value="${att.tenTT}"
                                            name="giaTriTT" placeholder="Giá trị thuộc tính">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <button type="button" class="btn btn-secondary" onclick="addAttribute()">Thêm thuộc
                                tính</button>
                        </div>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <div class="col-sm-2">
                            <label for="fileUpload" class="form-label mb-1">Hình đại diện sản phẩm</label>
                        </div>
                        <div class="col-sm-10 input-form">
                            <input type="file" class="form-control" id="fileUpload" name="fileUpload"
                                accept="image/png, image/jpeg, image/gif">
                            <span th:if="${errormess}" id="fileUploadError" th:text="errormess"
                                class="text-danger error">Vui lòng chọn một file hợp lệ.</span>
                        </div>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <div class="col-sm-2">
                            <label for="fileUpload" class="form-label mb-1">Hình ảnh khác</label>
                        </div>
                        <div class="col-sm-10 input-form">
                            <input type="file" class="form-control" id="fileUpload" name="fileHinhSP"
                                accept="image/png, image/jpeg, image/gif" multiple="true">
                            <span th:if="${errormess}" id="fileUploadError" th:text="errormess"
                                class="text-danger error">Vui lòng chọn một file hợp lệ.</span>
                        </div>
                    </div>

                    <div class="">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <label for="trangThaiSanPham" class="form-label">Trạng thái</label>
                            </div>
                            <div class="col-10 input-form">
                                <select class="form-control mb-1" id="trangThaiSanPham" name="trangThai"
                                    th:fieald="${product.trangThai}">
                                    <option th:selected="${product.trangThai == true ? 'true':'false'}" value="true">
                                        Hoạt động</option>
                                    <option th:selected="${product.trangThai == false ? 'true':'false'}" value="fasle">
                                        Ngưng hoạt động</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-4 align-items-center">
                        <div class="col-sm-2">
                            <label for="tenSanPham" class="form-label">Mô tả</label>
                        </div>
                        <div class="col-sm-10 input-form">
                            <textarea type="text" class="form-control mb-1" name="moTa" th:field="${product.moTa}"
                                placeholder="Marshall Acton 3"></textarea>
                        </div>
                    </div>

                    <div class="text-end mt-5">
                        <button id="saveBtn" formmethod="post" class="btn custom1-btn">Lưu</button>
                        <button id="deleteBtn" class="btn custom1-btn">Xóa</button>
                        <button id="editBtn" class="btn custom1-btn">Sửa</button>
                        <button id="newBtn" class="btn custom1-btn">Mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function addColorSelect() {
            var colorContainer = document.getElementById("colorContainer");
            var colorColector = colorContainer.firstElementChild.cloneNode(true);


            colorContainer.appendChild(colorColector);
        }

        function addAttribute() {
            var attributeContainer = document.getElementById("attributeContainer");
            var tem = document.getElementById("tem");
            var attributeSelector = tem.cloneNode(true)

            attributeContainer.appendChild(attributeSelector);
        }

    </script>
</body>
<script src="https://kit.fontawesome.com/6d391eb7f8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tH+1f08ocSTXzovvHehExYgg3Tb5ZpH1wO17/yFMyZ2iqKctbTn7d9c6" crossorigin="anonymous">
    </script>






</html>